{% extends 'base.html.twig' %}

{% block body %}

    <div id="center_div">


                 <h2>Add a row:</h2>

                {{ form_start(CrudForm) }}
                {{ form_widget(CrudForm) }}
                <button type="submit" class="btn btn-warning">Add row</button>
                {{ form_end(CrudForm) }}


    </div>

{% endblock %}