{% extends 'base.html.twig' %}

{% block body %}

    <div id="main">
        {% block header %}

            <div id="header">
                <a href="{{ asset('/')}}">Start</a>
                <a href="" >Database config</a>
                <a href="">Logs</a>

            </div>

        {% endblock %}

        READ
    </div>

{% endblock %}