{% extends 'base.html.twig' %}





{% block body %}


    <div id="center_div">

        <h2>Update a row:</h2><br>


            {{ form_start(updateRow) }}
            {{ form_widget(updateRow) }}
            <button type="submit" class="btn btn-warning">Update!</button>
            {{ form_end(updateRow) }}



    </div>

{% endblock %}