body{

	background-image: url("../img/dark-mosaic.png");
	background-color: black;
	font-family: 'Gloria Hallelujah';

}
table{

	font-family: "Times New Roman";
}

#header{

	width: 50%;
	height: 40px;
	background-color:  #3B5998;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;

}
#messages{
	width: 200px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	color: white;
	font-size: 30px;
}

#square{

	width:600px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}
#center{

	margin-left: 22%;

}
.letter{

	margin-right: 30px;
	width: 60px;
	float: left;

}

ul{

	list-style-type: none;
	display: none;
	margin: 0px;
	padding: 0px;
	margin-top: -15px;

}

.letter:hover>ul{
	color: #3B5998;
	display: block;

}
.letter:hover{
	color: #3B5998

}
ul>li{

	height: 65px;

}

a{
	color: white;
}


#center_div{
	background-color: #3B5998;
	margin-top: 20px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	color: white;
	padding: 15px;
	min-height: 400px;
	border-radius: 5px;


}
.space_menu{
	margin-left: 30px;
}